################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.obj
*/.bin
/.vs/FaMEServices/v16/Server/sqlite3/db.lock
/.vs/FaMEServices/v16/Server/sqlite3/storage.ide
/.vs/FaMEServices/v16/Server/sqlite3/storage.ide-shm
/.vs/FaMEServices/v16/Server/sqlite3/storage.ide-wal
/.vs/FaMEServices/v16/.suo
/FaMEServices/bin/Debug/netcoreapp3.0
/FaMEServices/obj/Debug/netcoreapp3.0/staticwebassets
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.assets.cache
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.csproj.CopyComplete
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.csproj.FileListAbsolute.txt
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.dll
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.exe
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.MvcApplicationPartsAssemblyInfo.cache
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.MvcApplicationPartsAssemblyInfo.cs
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.pdb
/FaMEServices/obj/Debug/netcoreapp3.0/FaMEServices.RazorTargetAssemblyInfo.cache
/FaMEServices/obj/FaMEServices.csproj.nuget.cache
/FaMEServices/obj/FaMEServices.csproj.nuget.dgspec.json
/FaMEServices/obj/FaMEServices.csproj.nuget.g.props
/FaMEServices/obj/FaMEServices.csproj.nuget.g.targets
/FaMEServices/obj/project.assets.json
/FaMEServices/obj/Debug/netcoreapp3.0
/FaMEServices.Security/bin/Debug/netcoreapp3.0
/FaMEServices.Security/obj/Debug/netcoreapp3.0
/FaMEServices.Security/obj
/.vs/FaMEServices/DesignTimeBuild/.dtbcache
/.vs/FaMEServices/config/applicationhost.config
/FaMEServices.Repositories/obj
/FaMEServices.Repositories/bin/Debug/netcoreapp3.0
/FaMEServices/FaMEServices.csproj.user
